In [ ]:
Выберите значение C-left из столбца X

Создайте названия. Для внешних индексов - 'Points', для внутренних - 'Sides'

Выберите данные всех правых сторон столбца Y

In [6]:
import numpy as np
import pandas as pd
 
mult_ind = pd.MultiIndex(levels=[['A', 'B', 'C'], ['left', 'right']],
                     codes=[[0, 0, 1, 1, 2, 2], [0, 1, 0, 1, 0, 1]])
df = pd.DataFrame(np.random.randn(6, 3), mult_ind, ['X', 'Y', 'Z'])

df

                X         Y         Z
A left  -1.245065 -0.561997  1.887820
  right  1.006120 -0.539684  0.176010
B left   1.496633 -1.481954 -1.330855
  right  0.464110  1.021082  1.148994
C left   0.218772 -0.250222  0.138869
  right -0.504764  0.507749  0.390828

In [8]:
df.loc['C'].loc['left']['X']

0.21877237802395313

In [11]:
df.index.names = ['Points', 'Sides']
df

                     X         Y         Z
Points Sides
A      left  -1.245065 -0.561997  1.887820
       right  1.006120 -0.539684  0.176010
B      left   1.496633 -1.481954 -1.330855
       right  0.464110  1.021082  1.148994
C      left   0.218772 -0.250222  0.138869
       right -0.504764  0.507749  0.390828

In [14]:
df.xs('right', level = 'Sides')['Y']

Points
A   -0.539684
B    1.021082
C    0.507749
Name: Y, dtype: float64