# Video Game Sales Task

#### 1. Import pandas module as pd

In [2]:
import pandas as pd

#### 2. Create variable vgs and read vgsales.csv file as dataframe in it

In [7]:
credit = pd.read_csv('german_credit_data.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'german_credit_data.csv'

#### 3. Get first 10 rows from the dataframe

In [3]:
vgs.head(10)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

#### 4. Use info() method to know the information about number of entries in vgs dataframe

In [7]:
vgs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

#### 5. Get average value of sales in Europe

In [8]:
vgs[['EU_Sales']].mean()

EU_Sales    0.146652
dtype: float64

#### 6. Get the highest value of sales in Japan

In [35]:
vgs['JP_Sales'].max()

10.22

#### 7. What is the genre of "Brain Age 2: More Training in Minutes a Day" video game?

In [46]:
vgs[vgs['Name'] == 'Brain Age 2: More Training in Minutes a Day']['Genre']

27    Puzzle
Name: Genre, dtype: object

#### 8. What is the amount of sales "Grand Theft Auto: Vice City" video game around the world?

In [49]:
vgs[vgs['Name'] == 'Grand Theft Auto: Vice City']['Global_Sales']

24       16.15
13732     0.04
Name: Global_Sales, dtype: float64

#### 9. Get the name of the video game which has the highest sales in North America

In [55]:
vgs.sort_values('NA_Sales').tail(1)['Name']

0    Wii Sports
Name: Name, dtype: object

#### 10. Get the name of video game which has the smallest sales around the world

In [56]:
vgs.sort_values('Global_Sales').head(1)['Name']

16597    Spirits & Spells
Name: Name, dtype: object

#### 11. What is the average value of sales of all video games per genre in Japan?

In [15]:
vgs.groupby('Genre')[['Global_Sales']].mean()

              Global_Sales
Genre
Action            0.528100
Adventure         0.185879
Fighting          0.529375
Misc              0.465762
Platform          0.938341
Puzzle            0.420876
Racing            0.586101
Role-Playing      0.623233
Shooter           0.791885
Simulation        0.452364
Sports            0.567319
Strategy          0.257151

#### 12. How many unique names of video games in this dataframe?

In [22]:
vgs.groupby('Name')[['Name']].count()

                                         Name
Name
'98 Koshien                                 1
.hack//G.U. Vol.1//Rebirth                  1
.hack//G.U. Vol.2//Reminisce                1
.hack//G.U. Vol.2//Reminisce (jp sales)     1
.hack//G.U. Vol.3//Redemption               1
...                                       ...
thinkSMART: Chess for Kids                  1
uDraw Studio                                1
uDraw Studio: Instant Artist                2
wwe Smackdown vs. Raw 2006                  1
¡Shin Chan Flipa en colores!                1

[11493 rows x 1 columns]

#### 13. Get the 3 most common genres of video games worldwide

In [23]:
vgs['Genre'].value_counts().head(3)

Action    3316
Sports    2346
Misc      1739
Name: Genre, dtype: int64

#### 14. How many video games have "super" word in their names?

In [11]:
iterable = vgs['Name'].str.find('Super')
counter = 0
for iter in iterable:
    if iter == 0:
        counter += 1
counter

180