In [ ]:
Вопросы к этому заданию
Создайте DataFrame, следуя инструкциям. Выберите из неё все строки, в которых значения в столбце A меньше 30

Создайте DataFrame, следуя инструкциям. Выберите из неё все строки, в которых значения в столбце A меньше 50 или 
значения в столбце B меньше 40

Создайте DataFrame, следуя инструкциям. Выберите из неё значения столбцов A и B во всех строках, в которых значения в 
столбце C больше 20 и значения в столбце D меньше 70

In [2]:
import numpy as np
import pandas as pd
my_df = pd.DataFrame(np.random.randint(1, 101, (5, 4)), ['10','20','30','40','50'], ['A','B','C','D',])
my_df

      A   B   C   D
10   83  81  34   2
20   66  69  10  80
30   49  65   8  31
40  100  27  71  76
50   79  85  44  54

In [6]:
my_df[my_df['A'] < 30]

Empty DataFrame
Columns: [A, B, C, D]
Index: []

In [7]:
my_df[(my_df['A'] < 50) | (my_df['B'] < 40)]

      A   B   C   D
30   49  65   8  31
40  100  27  71  76

In [10]:
my_df[['A', 'B']][(my_df['C'] > 20) &]

      A   B
10   83  81
20   66  69
30   49  65
40  100  27
50   79  85