In [ ]:
Создайте DataFrame, состоящую из 5 столбцов и 7 строк, в которой будут целые значения возраста от 1 до 100 включительно. 
Для столбцов используйте названия стран, 
для индексов строк - буквы латинского алфавита от a до g

In [8]:
import numpy as np
import pandas as pd

In [11]:
my_Df = pd.DataFrame(np.random.randint(1, 101, (7,5)), ['a', 'b', 'c', 'd', 'e', 'f', 'g'], ['Belarus', 'Ukraine', 'Poland', 'Lithuania', 'Spain'])

In [12]:
my_Df

   Belarus  Ukraine  Poland  Lithuania  Spain
a       10       54       4         66     88
b       15        5      51         49     69
c       91       38       9         41     39
d       36      100      90         14     41
e       72       93      69         84     52
f       81       22      37         63     87
g       55       96      66         85     96